<div class="media">
    <div class="container">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Group Pics
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-grid-list class="width1" cols="4" rowHeight="190px">
                    <mat-grid-tile><img src="assets/media-gallery/group-pics/1.jpg" height="200px" width="auto"/></mat-grid-tile>
                    <mat-grid-tile><img src="assets/media-gallery/group-pics/2.png" height="200px" width="auto"/></mat-grid-tile>
                    <mat-grid-tile><img src="assets/media-gallery/group-pics/3.png" height="200px" width="auto"/></mat-grid-tile>
                    <mat-grid-tile><img src="assets/media-gallery/group-pics/4.jpeg" height="200px" width="auto"/></mat-grid-tile>

                    <mat-grid-tile><img src="assets/media-gallery/group-pics/5.jpg" height="200px" width="auto"/></mat-grid-tile>
                    <mat-grid-tile><img src="assets/media-gallery/group-pics/6.jpg" height="200px" width="auto"/></mat-grid-tile>
                    <mat-grid-tile><img src="assets/media-gallery/group-pics/7.jpg" height="200px" width="auto"/></mat-grid-tile>
                    <mat-grid-tile><img src="assets/media-gallery/group-pics/8.jpg" height="200px" width="auto"/></mat-grid-tile>
                 </mat-grid-list>
            </mat-expansion-panel>
            
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        AUV Renders
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-grid-list cols="2" rowHeight="190px">
                    <mat-grid-tile><img src="assets/media-gallery/design/design2.gif" height="200px" width="auto"/></mat-grid-tile>
                    <mat-grid-tile><img src="assets/media-gallery/design/design3.gif" height="200px" width="auto"/></mat-grid-tile>
                    <mat-grid-tile><img src="assets/media-gallery/design/design4.gif" height="200px" width="auto"/></mat-grid-tile>
                    <mat-grid-tile><img src="assets/media-gallery/design/design5.gif" height="200px" width="auto"/></mat-grid-tile>
                </mat-grid-list>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    
</div>
