<div class=footer>
    <img src="assets/logo-white.png" class="logo"/>

    <div class="container">
        <div class="col">
          <h1>Contact</h1>
          <h2>deep.yonderdynamics@gmail.com</h2>
          <h2>8885 Biological Grade La Jolla, CA 92037</h2>
        </div>

        <div class="col">
          <h1>Follow Us</h1>
          
          <nav>
            <ul class="links">
              <li><a href="https://www.facebook.com/YonderDeep">Facebook</a></li>
              <li><a href="https://www.instagram.com/yonderdeep/?hl=en">Instagram</a></li>
              <li><a href="https://www.linkedin.com/company/yonderdeep/">LinkedIn</a></li>
            </ul>
          </nav>
        
        </div>

        <div class="col">
          <h1>Join the Team</h1>
          <nav>
            <ul class="links">
              <li><a href="https://forms.gle/GYT3AXFG1VqgqxFs6">Click Here!</a></li>
            </ul>
          </nav>
          
        </div>
    </div>
</div>
