<div class="about">
    
    

    <div class="container">
        <div class="t1 font">
            <img src="assets/media-gallery/group-pics/1.jpg" class="groupPic">
        </div>
        <div class="t2 font">
            <p>Innovation</p>
            <h2>Our goal is to be the first undergraduate group of students to design a 3D printed, low cost, and fully Autonomous Underwater Vehicle (AUV) which will allow for the implementation of several sensor types for oceanographic and climate change research.</h2><br>
            <p>Research</p>
            <h2>Oceanographic research, especially in today’s climate, is very important, but researchers do not have access to low cost equipment. We are here to change that.</h2><br>
            <p>Education</p>
            <h2>Provide students with experience that will allow them to make positive change and become tomorrow’s innovators and change-makers.</h2><br>
        </div>
    </div>
    
</div>
