<div class="about">
    
    

    <div class="container">
        <div class="t1 font">
            <img src="assets/newPics/about_team_photo.jpg" class="groupPic">
        </div>
        <div class="t2 font">
            <p>Innovation</p>
            <h2>Our goal is to be the first undergraduate group of students to design a 3D printed, low cost, modular, and fully Autonomous Underwater Vehicle (AUV) for oceanographic and climate change research.</h2><br>
            <p>Research</p>
            <h2>Now more than ever, oceanographic research is incredibly important, but certain equipment is not affordable for researchers. We are here to change that.</h2><br>
            <p>Education</p>
            <h2>Provide students with experience that will allow them to make positive change and become tomorrow’s innovators and change-makers.</h2><br>
        </div>
    </div>
    
</div>
