<div class=impact>
    <h1>Yonder Deep's Norway 2022 Mission</h1>

    <h2>Scientists studying glaciers need to get very close to collect analyzable data. However, calving events are incredibly dangerous, making it impossible to get close by boat. As a result, AUV’s have recently boomed in popularity because they are fully autonomous and are able to gather high quality data with minimal resources. However, they are incredibly expensive, ranging from $10,000 to millions. Yonder Deep’s primary goal is to make a low-cost, fully customizable AUV in order to revolutionize oceanographic research.</h2>
</div>
