<div class="recruitment"> 

    <div class="t1">

        <div class="text1">
            <h1>Recruitment</h1>
            <h2>At Yonder Deep, we value personal development above all else. Every member will have access to a prototyping space, 3D printers, and a wealth of knowledge from advisors, instructors, and professors. Through workshops and rapid prototyping, members will quickly develop a multidisciplinary set of skills across the engineering spectrum. Furthermore, our members have gone to intern and work at major companies like Northrop Grumman, HP, and NASA.</h2>
            <br>
        </div>

        <div class="text2">
            <h1>Announcements and Deadlines</h1>
            <nav>
                <ul class="links">
                    <li>Our recruitment is open!</li>
                    <li>EOTG September 29-30</li>
                    <li>Application will be open until October 8 (Friday)</li>
                    <li>October 9-10 (Saturday and Sunday) send emails to interview people</li>
                    <li>Oct 11 - 15 (following week) interviews</li>
                    <li>Send out decisions on October 16 - 17</li>
                    <li><a href="https://forms.gle/GYT3AXFG1VqgqxFs6">Click Here for the Application!</a></li>
                </ul>
            </nav>
        </div>
    
    </div>
    <div class="t2">

        <h1>Our Roles</h1>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Mechanical
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Computer Aided Design</li>
                    <li>Computational Fluid Dynamics</li>
                    <li>3D Printed Materials</li>
                    <li>Stress/Structural Engineering</li>
                    <li>Mechanical Assembly</li>
                </ul>
            </mat-expansion-panel>
            
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Software
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Autonomous Guidance</li>
                    <li>Path-planning</li>
                    <li>Radio Communications</li>
                    <li>Motor Control</li>
                    <li>Microcontrollers</li>
                </ul>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Electrical
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Battery/Power Systems</li>
                    <li>Circuits/PCB</li>
                    <li>Motions and Motor Control</li>
                </ul>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Business
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>External Relations</li>
                    <li>Internal Business</li>
                    <li>Graphics/Photography</li>
                    <li>Public Relations</li>
                </ul>
            </mat-expansion-panel>
          </mat-accordion>
    </div>

</div>
