<div class="recruitment"> 

    <div class="t1">

        <div class="text1">
            <h1>Recruitment</h1>
            <h2>At Yonder Deep, we value personal development above all else. Every member will have access to 3D printers, and a wealth of knowledge from advisors, instructors, and professors. Through workshops and rapid prototyping, members will quickly develop a multidisciplinary set of skills across the engineering spectrum. Our members have gone to intern and work at major companies like Amazon, HP, L3 Harris, Meta, NASA, and Northrop Grumman.</h2>
            <br>
        </div>

        <div class="text2">
            <h1>Announcements and Deadlines</h1>
            <nav>
                <ul class="links">
                    <li>Our recruitment is open!</li>
                    <li>Application will be open until January 14 (Friday)</li>
                    <li>January 15-16 (Saturday and Sunday) interview emails sent</li>
                    <li>January 17 - 21 (following week) interviews</li>
                    <li>Decisions sent out on January 22-23</li>
                    <li><a href="https://forms.gle/GYT3AXFG1VqgqxFs6">Click Here for the Application!</a></li>
                </ul>
            </nav>
        </div>
    
    </div>
    <div class="t2">

        <h1>Our Roles</h1>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Mechanical
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Computer Aided Design</li>
                    <li>Computational Fluid Dynamics</li>
                    <li>3D Printed Materials</li>
                    <li>Stress/Structural Engineering</li>
                    <li>Manufacturing</li>
                    <li>DFMA</li>
                    <li>FEA</li>
                </ul>
            </mat-expansion-panel>
            
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Software
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Autonomous Guidance</li>
                    <li>Path-planning</li>
                    <li>Radio Communications</li>
                    <li>Motor Control</li>
                    <li>Microcontrollers</li>
                </ul>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Electrical
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Battery/Power Systems</li>
                    <li>PCB design</li>
                    <li>Motions and Motor Control</li>
                    <li>Soldering</li>
                </ul>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Business
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>External Relations</li>
                    <li>Internal Business</li>
                    <li>Graphic Design</li>
                    <li>Social Media Management</li>
                    <li>Accounting (Knowledge of fundraising, nonprofits, UCSD Funding Applications, etc.)</li>
                    <li>"H.R." (creating/handling fun social events like game nights, bonfires, etc.)</li>
                    <li>UI/UX Design</li>
                </ul>
            </mat-expansion-panel>
          </mat-accordion>
    </div>

</div>
