<div class=mission>

    <div class="t1 font">
        <p>Mission Statement</p>
        <h2>Based in UC San Diego, Yonder Deep is founded upon one mission: "To empower students to make tangible differences in research and inspiring life-long learning through underwater robotics.”</h2>
        <img width="400" src="assets/newPics/DIB_group_photo.JPG" class="groupPic">
    </div>
    <div class="t2 font">
        <h2>Yonder Deep provides students with the experience necessary to become tomorrow’s innovators and change-makers. The team pursues projects in oceanographic research, developing a strong aptitude for engineering and robotics along the way. Through our work, students from all disciplines foster collaborative relationships and develop platforms for social good. Our team’s innovations directly contribute to the exploration of our world’s most defining feature - the ocean.</h2>
        <br>
        <h2>Yonder Deep has established a partnership with Dr. Grant Deane of the Innovative Marine Technologies Lab at the Scripps Institution of Oceanography. In addition to providing Yonder Deep with access to expertise and the tools available in a research laboratory, this alliance will also result in an opportunity for the deployment in the field of Yonder Deep's technology.</h2>
    </div>
    
</div>

