<!-- Header -->
<header>
  <a class="logo" href="#home"><img width="70" src="assets/logo-white.png"/></a>

  <nav>
    <ul class="links" >
      <li><a href="#about">About</a></li>
      <li><a href="#mission">Mission</a></li>
      <li><a href="#impact">Impact</a></li>
      <li><a href="#recruitment">Recruitment</a></li>
      <li><a href="#teams">Teams</a></li>
      <li><a href="#media" class="lastButton">Media</a></li>
    </ul>
  </nav>
  
</header>   

<!-- Home Component -->
<app-home id="home"></app-home>

<!-- About Component -->
<app-about id="about"></app-about>

<!-- Mission Component -->
<app-mission id="mission"></app-mission>

<!-- Impact Component -->
<app-impact id="impact"></app-impact>

<!-- Recruitment Component -->
<app-recruitment id="recruitment"></app-recruitment>

<!-- Teams Component -->
<app-teams id="teams"></app-teams>

<app-media id="media"></app-media>

<!-- Footer Component -->
<app-footer id="footer"></app-footer>





