<div class=teams>

    <!-- Container -->
    <mat-tab-group class="container" mat-align-tabs="center" backgroundColor="primary">

        <!-- Executive Tab -->
        <mat-tab label="Executive"> 
            <div class="gridContainer">
               <mat-grid-list class="width1" cols="4" rowHeight="300px">
                   
                    <mat-grid-tile>
                        <mat-card class="card bottomPad">
                            <mat-card-header>
                                <mat-card-title>Daniel Ju</mat-card-title>
                                <mat-card-subtitle>Project Director / President</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/members/daniel-ju.jpg" height="auto" width="200px">
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="card bottomPad">
                            <mat-card-header>
                                <mat-card-title>Grant Deane</mat-card-title>
                                <mat-card-subtitle>Project Advisor</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/members/grant.jpg">
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="card bottomPad">
                            <mat-card-header>
                                <mat-card-title>Andrew Lin</mat-card-title>
                                <mat-card-subtitle>Advisor</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/members/andy.jpg" width="200px" height="200px">
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="card bottomPad">
                            <mat-card-header>
                                <mat-card-title>Adrian Chen</mat-card-title>
                                <mat-card-subtitle>Electrical Team Lead</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/members/blank.jpg" width="200px" height="200px">
                        </mat-card> 
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="card bottomPad2">
                            <mat-card-header>
                                <mat-card-title>Rosalinda Valenzuela</mat-card-title>
                                <mat-card-subtitle>Business Team Lead</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/members/rosalinda.jpg" width="auto" height="200px">
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="card bottomPad2">
                            <mat-card-header>
                                <mat-card-title>Stephen Boussarov</mat-card-title>
                                <mat-card-subtitle>Software Team Lead</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/members/blank.jpg" width="200px" height="200px">
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </mat-tab>
        
        <!-- Mechanical Tab -->
        <mat-tab label="Mechanical">
            <div class="gridContainer">
                <mat-grid-list class="width2" cols="6" rowHeight="300px">
                    <mat-grid-tile>
                        <mat-card class="card bottomPad">
                            <mat-card-header>
                                <mat-card-title>Satchel Birch</mat-card-title>
                                <mat-card-subtitle>Mechanical Lead</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/members/satchel.jpg" height="auto" width="200px">
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="card bottomPad">
                            <mat-card-header>
                                <mat-card-title>Ryan Trinh</mat-card-title>
                                <mat-card-subtitle>Design Lead</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/members/ryan.jpg" height="200px" width="200px">
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="card bottomPad">
                            <mat-card-header>
                                <mat-card-title>Daniel Ruiz</mat-card-title>
                                <mat-card-subtitle>Manufacturing and Assembly Lead</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/members/daniel.jpg" height="auto" width="200px">
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="card bottomPad">
                            <mat-card-header>
                                <mat-card-title>Eden Detmer</mat-card-title>
                                <mat-card-subtitle>Computational Analysis Lead</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/members/eden.jpg" height="auto" width="200px" >
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="card bottomPad">
                            <mat-card-header>
                                <mat-card-title>Kusal Uprety</mat-card-title>
                                <mat-card-subtitle>Member</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/members/kusal.jpg" height="200px" width="200px">
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="card bottomPad">
                            <mat-card-header>
                                <mat-card-title>Irene Sha</mat-card-title>
                                <mat-card-subtitle>Member</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/members/irene.jpg" height="200px" width="200px">
                        </mat-card>
                    </mat-grid-tile>
                    
                    <mat-grid-tile>
                        <mat-card class="card bottomPad2">
                            <mat-card-header>
                                <mat-card-title>Tobias Hirth</mat-card-title>
                                <mat-card-subtitle>Member</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/members/tobias.jpg" height="auto" width="200px">
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="card bottomPad2">
                            <mat-card-header>
                                <mat-card-title>Tsz-Wai Kwok</mat-card-title>
                                <mat-card-subtitle>Member</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/members/tsz.jpg" class="bottomPadding" height="auto" width="200px">
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="card bottomPad2">
                            <mat-card-header>
                                <mat-card-title>Tarun Murugesan</mat-card-title>
                                <mat-card-subtitle>Member</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/members/tarun.jpg" height="200px" width="200px">
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="card bottomPad2">
                            <mat-card-header>
                                <mat-card-title>Eric Limonadi</mat-card-title>
                                <mat-card-subtitle>Member</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/members/blank.jpg" height="200px" width="200px">
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="card bottomPad2">
                            <mat-card-header>
                                <mat-card-title>Manuel Figueroa</mat-card-title>
                                <mat-card-subtitle>Member</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/members/blank.jpg" height="200px" width="200px">
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="card bottomPad2">
                            <mat-card-header>
                                <mat-card-title>Naomi Chin</mat-card-title>
                                <mat-card-subtitle>Member</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/members/blank.jpg" height="200px" width="200px">
                        </mat-card>
                    </mat-grid-tile>
                   
                </mat-grid-list>
             </div> 
        </mat-tab>

        <!-- Software Tab -->
        <mat-tab label="Software"> 
            <div class="gridContainer">
                <mat-grid-list class="width4" cols="5" rowHeight="300px">
                    <mat-grid-tile>
                        <mat-card class="card bottomPad">
                            <mat-card-header>
                                <mat-card-title>Abirami Sabbani</mat-card-title>
                                <mat-card-subtitle>Jr. Software Lead</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/members/abirami.jpeg" height="auto" width="200px">
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="card bottomPad">
                            <mat-card-header>
                                <mat-card-title>Eric Estabaya</mat-card-title>
                                <mat-card-subtitle>Software Development</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/members/eric.jpeg" height="200px" width="200px">
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="card bottomPad">
                            <mat-card-header>
                                <mat-card-title>Adam Tran</mat-card-title>
                                <mat-card-subtitle>Member</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/members/blank.jpg" height="200px" width="200px">
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="card bottomPad">
                            <mat-card-header>
                                <mat-card-title>Alex Zhang</mat-card-title>
                                <mat-card-subtitle>Member</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/members/blank.jpg" height="200px" width="200px">
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="card bottomPad">
                            <mat-card-header>
                                <mat-card-title>Clair Ma</mat-card-title>
                                <mat-card-subtitle>Member</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/members/clair.jpg" height="200px" width="200px">
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="card bottomPad2">
                            <mat-card-header>
                                <mat-card-title>George Wu</mat-card-title>
                                <mat-card-subtitle>Member</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/members/blank.jpg" height="200px" width="200px">
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="card bottomPad2">
                            <mat-card-header>
                                <mat-card-title>Girish Krishnan</mat-card-title>
                                <mat-card-subtitle>Member</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/members/blank.jpg" height="200px" width="200px">
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="card bottomPad2">
                            <mat-card-header>
                                <mat-card-title>Kyle H</mat-card-title>
                                <mat-card-subtitle>Member</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/members/blank.jpg" height="200px" width="200px">
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="card bottomPad2">
                            <mat-card-header>
                                <mat-card-title>Vasanth Senthil</mat-card-title>
                                <mat-card-subtitle>Member</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/members/blank.jpg" height="200px" width="200px">
                        </mat-card>
                    </mat-grid-tile>
                  </mat-grid-list>
             </div>     
        </mat-tab>

        <!-- Electrical Tab -->
        <mat-tab label="Electrical"> 
            <div class="gridContainer">
                <mat-grid-list class="width3" cols="3" rowHeight="300px">
                    <mat-grid-tile>
                        <mat-card class="card bottomPad">
                            <mat-card-header>
                                <mat-card-title>Arsalan Sepahpour</mat-card-title>
                                <mat-card-subtitle>Member</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/members/arsalan.jpg" height="auto" width="200px">
                        </mat-card>
                    </mat-grid-tile>   
                    <mat-grid-tile>
                        <mat-card class="card bottomPad">
                            <mat-card-header>
                                <mat-card-title>Christina Mai</mat-card-title>
                                <mat-card-subtitle>Member</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/members/blank.jpg" height="200px" width="200px">
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="card bottomPad">
                            <mat-card-header>
                                <mat-card-title>James (Minzhe) Zhan</mat-card-title>
                                <mat-card-subtitle>Member</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/members/blank.jpg" height="200px" width="200px">
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="card bottomPad2">
                            <mat-card-header>
                                <mat-card-title>Kenneth Casimiro</mat-card-title>
                                <mat-card-subtitle>Member</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/members/blank.jpg" height="200px" width="200px">
                        </mat-card>
                     </mat-grid-tile>               
                </mat-grid-list>
             </div> 
        </mat-tab>

        <!-- Business Tab -->
        <mat-tab label="Business"> 
            <div class="gridContainer">
                <mat-grid-list class="width3" cols="3" rowHeight="350px">
                    <mat-grid-tile>
                        <mat-card class="card bottomPad2">
                            <mat-card-header>
                                <mat-card-title>Joshua Hoang</mat-card-title>
                                <mat-card-subtitle>Financial Manager and Consultant</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/members/josh.jpg" height="200px" width="200px">
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card class="card bottomPad2">
                            <mat-card-header>
                                <mat-card-title class="smallerText">Karina Plascencia</mat-card-title>
                                <mat-card-subtitle>Business Consultant and Analyst</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/members/blank.jpg" height="200px" width="200px">
                        </mat-card>
                    </mat-grid-tile>   
                    <mat-grid-tile>
                        <mat-card class="card bottomPad2">
                            <mat-card-header>
                                <mat-card-title>Alex Johnson</mat-card-title>
                                <mat-card-subtitle>Member</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="assets/members/blank.jpg" height="200px" width="200px">
                        </mat-card>
                    </mat-grid-tile>         
                </mat-grid-list>
            </div> 
        </mat-tab>

    </mat-tab-group>
   

    
</div>
